body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

#soundwave-wrapper {
  position: relative;
  width: 100%;
  height: 260px;
  cursor: crosshair;
  touch-action: none;
  user-select: none;
}

#soundwave {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  transform: translateY(-50%);

  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.soundwave-bar {
  width: 3px;
  background: #111;
  border-radius: 999px;
  flex-shrink: 0;
  transition: background 0.15s ease;
}

.soundwave-bar.passed {
  background: #fee900;
}

.comment-dot {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #444;
  transform: translateX(-50%);
  transition:
    transform 0.15s ease,
    background 0.15s ease,
    opacity 0.15s ease;
}

.comment-dot.top {
  top: 35px;
}

.comment-dot.bottom {
  bottom: 35px;
}

.comment-dot.is-nearest {
  background: #fee900;
  transform: translateX(-50%) scale(1.7);
}

#soundwave-cursor {
  position: absolute;
  top: 80px;
  bottom: 80px;
  left: 0;
  width: 2px;
  background: #111;
  pointer-events: none;
  transform: translateX(-50%);
  z-index: 2;
}

.popup h3 {
  font-size: 1.2rem;
}

.popup h2 {
  font-size: 1.3rem;
}
.popup-image {
  display: none;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
