body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
#soundwave-wrapper {
  position: relative;
  width: min(1000px, 95vw);
  height: 260px;
}

#soundwave {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  transform: translateY(-50%);
}

.soundwave-bar {
  width: 4px;
  background: #111;
  border-radius: 999px;
  flex-shrink: 0;
}

.comment-dot {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #444;
  transform: translateX(-50%);
}

.comment-dot.top {
  top: 35px;
}

.comment-dot.bottom {
  bottom: 35px;
}
